## Summary Statistics

### Mean

In [23]:
import seaborn as sns
import numpy as np

In [24]:
titanic = sns.load_dataset('titanic')

titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [25]:
fare = titanic['fare']

sum_ = np.sum(fare)
len_ = len(fare)

mean = sum_/len_


print('Mean: ', mean)

Mean:  32.204207968574636

### Median

In [26]:
# no. of datapoints are odd

sorted_data = sorted(fare)

if len_ % 2 == 0:
    pos = len_ + 1//2
    median = sorted_data[pos]
else:
    pos = ((len_//2) + ((len_+1)//2))//2
    median = sorted_data[pos]

print('Median: ', median)

Median:  14.4542

In [27]:
median = np.median(fare)
print("Median:", median)

Median: 14.4542

### Mode

In [28]:
mode_dict = {}

pclass = titanic['pclass']

for i in pclass:
    if i not in mode_dict:
        mode_dict[i] = 1
    else:
        mode_dict[i] += 1

max_ = 0
mode = 0
for k, v in enumerate(mode_dict):
    if max_ < v:
        max_ = v
        mode = i

print('Mode', mode)    
print(mode_dict)

Mode 3
{3: 491, 1: 216, 2: 184}

In [29]:
import pandas as pd

mode = pclass.mode()
print("Mode:", mode)

Mode: 0    3
Name: pclass, dtype: int64

### Standard Deviation(SD)

In [30]:
numerator = np.sum((fare - mean)**2)
sd = np.sqrt(numerator/len_)

print('sd: ', sd)

sd:  49.6655344447741

In [31]:
std_dev = np.std(fare)
print("Standard Deviation:", std_dev)

Standard Deviation: 49.6655344447741

### Variance

In [32]:
var_ = numerator/len_

print("Variance: ", var_)

Variance:  2466.665311685043

In [33]:
variance = np.var(fare)
print('var: ', variance)

var:  2466.665311685043

### Skewness

In [39]:
numerator = (1/len_) * np.sum((fare - mean)**3)
denominator = ((1/len_) * np.sum((fare - mean)**2)**(3/2))

skewness = numerator/denominator
print('Skewness: ', skewness)

Skewness:  0.16011100958454352

In [41]:
# Fisher's equation
f_skew = skewness * len_/(len_ -1) * len_/(len_ - 2)
print("Fisher's definition of skewness: ", f_skew)

Fisher's definition of skewness:  4.795387296674534

In [40]:
from scipy import stats


skewness = stats.skew(fare)
print("Skewness:", skewness)

Skewness: 4.7792532923723545

### Kurtosis

In [42]:
numerator = (1/len_) * np.sum((fare - mean) ** 4)
denominator = ((1/len_) * np.sum((fare - mean) ** 2) ** 2)

kurtosis = numerator/denominator

print(kurtosis)

0.040633321271206224

In [ ]:
kurto = stats.kurtosis(fare)

print('Kurtosis: ', kurto)

Kurtosis:  33.20428925264474

### Pearson Correlation

In [44]:
np.random.seed(42)
x = np.random.randn(100)
y = 2 * x + np.random.randn(100) * 0.5

pearson_corr = np.corrcoef(x, y)[0, 1]
print("Pearson Corralation: ", pearson_corr)

Pearson Corralation:  0.9654943669720484

### Spearman Correlation

In [46]:
titanic['alive_numeric'] = titanic['alive'].map({'yes': 1, 'no': -1})

spearman_corr = fare.corr(titanic['alive_numeric'], method='spearman')
print('Spearman Correlation: ', spearman_corr)

Spearman Correlation:  0.32373613944480834